{% extends "base.html" %}

{% block content %}
    <h2>Device {{ device.mac_address }}</h2>

    <p class="lead">
        {% if device.owner == None and current_user.is_authenticated%}
        {% else %}
             Claimed by {{ device.owner|default('no-one') }}
        {% endif %}
    </p>

    {% if device.owner != None and current_user.get_id() == device.owner.get_id() %}
        <h3>Ownership settings</h3>
        <form action="" method="post">
            <input type="hidden" id="db_state_hash" name="db_state_hash" value="{{ db_state_hash }}">

            <button name="action" id="action2" value="unclaim" type="submit"
                    class="btn btn-outline-danger">unclaim
            </button>
            <input type="text" name="hostname" id="hostname" value="{{ device.hostname }}">
            <button type="submit" name='action' id='action' value='change_hostname' class="btn btn-outline-primary" >Change hostname
            </button>

        </form>

    {% endif %}


{% endblock %}
