{% extends "base.html" %}
{% macro claim_btn(mac_address) %}
    <form action="/device/{{ mac_address }}" method="post">
        <button type="submit" name="action" value="claim"
                class="btn btn-sm btn-outline-primary">claim
        </button>
    </form>
{% endmacro %}
{% macro unclaim_btn(mac_address) %}
    <form action="/device/{{ mac_address }}" method="post">
        <button type="submit" name="action" value="unclaim"
                class="btn btn-sm btn-outline-danger">unclaim
        </button>
    </form>
{% endmacro %}

{% macro user_wiki(user) -%}
    <a href="//wiki.hs3.pl/ludzie/{{ user.username }}">{{ user.username }}</a>
{% endmacro %}
{% macro flag_badge(flag, flag_name) -%}
    {% if flag is sameas True %}
        <span class="badge badge-primary">{{ flag_name }}</span>
    {% endif %}
{% endmacro %}
{% macro device_row(device, owner='') -%}
    <tr class="justify-content-center">
        <td>
            <a href="/device/{{ device.mac_address }}">{{ device.mac_address }}</a>
        </td>
        <td>{{ device.ip }}</td>
        <td>{{ device.hostname }}</td>
        <td></td>
        <td>{{ owner }}</td>
        <td></td>
    </tr>
{%- endmacro %}


{% block content %}
    {% if current_user.is_authenticated %}
        <div class="table-responsive">
        <h2>My Devices</h2>

        <table class="table">
            <tr>
                <th>MAC</th>
                <th>IP addr</th>
                <th>hostname</th>
                <th>flags</th>
                <th>ownership</th>
                <th>last seen</th>
            </tr>
            {% for device in my_devices -%}
                {{ device_row(device, owner=unclaim_btn(device.mac_address)) }}
            {%- endfor %}
        </table>
        </div>
        <h2>Unclaimed devices</h2>
        <table class="table">
            <tr>
                <th>MAC</th>
                <th>hostname</th>
                <th>flags</th>
                <th>ownership</th>
                <th>last seen</th>
            </tr>
            {% for device in my_devices -%}
                {{ device_row(device, owner=claim_btn(device.mac_address)) }}
            {%- endfor %}
        </table>
        </div>
    {% endif %}

{% endblock %}
